<%- if !@month_list.blank? -%>
  <%= render :partial => 'list_details', :locals => {:month_list => @month_list} %>

  <p class="list_nav">
    <%= link_to '&laquo; Previous Lists', previous_lists_path, :class => 'prev_month_link' %>
    <%= link_to 'Next Month &raquo;', next_month_path, :class => 'next_month_link' %>
  </p>
  <div class="clear"></div>

  <script type="text/javascript">
    reset_checkboxes();
  </script>
<%- else -%>
  <p>You don't have a list yet. Make sure you <%= link_to 'add some tasks', tasks_path %>, then <%= link_to 'generate your first list', generate_list_path %>.</p>
<%- end -%>
