<div class="list_form">
  <%= form_for list do |f| -%>
    <p id="notes_<%= list.id %>">
      <%= f.label :amount %>
      <%= f.text_field :amount, :id => "amount_field_#{list.id}", :class => 'list_input' %>
      <%= f.label :notes %>
      <%= f.text_area :notes, :size => '25x5', :id => "note_field_#{list.id}", :class => "list_input" %>
      <br />
      <span class="list_form_controls">
        <%= image_submit_tag 'btn_update.png', :alt => 'Update', :class => 'update_button' %>
        or
        <%= link_to 'cancel', cancel_edit_list_path(:id => list), :class => "remote_#{list.id} remote" %>
      </span>
      <div class="clear"></div>
    </p>
  <% end -%>
</div>
